# day objectives:
## dictionaries
- it is data structure
- data will store in pair format i.e key:value
- for defining empty dictionary we can use {}or dict()
- key maximum in string
- value may be string,integer,set,list,dictionary`
- dictionaries are mutable

In [1]:
stu={'name':'lucky','rollno':547,'branch':'cse'}
stu

{'name': 'lucky', 'rollno': 547, 'branch': 'cse'}

In [2]:
stu['name']

'lucky'

In [3]:
stu['branch']

'cse'

In [4]:
stu['rollno']

547

In [5]:
stu['rollno']=54         #key is existed it acts as update
stu

{'name': 'lucky', 'rollno': 54, 'branch': 'cse'}

In [8]:
stu['age']=12.5    # key is not existed it acts as append means to add 
stu

{'name': 'lucky', 'rollno': 54, 'branch': 'cse', 'age': 12.5}

In [9]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [10]:
stu.keys()   # returns keys and keys is in list format

dict_keys(['name', 'rollno', 'branch', 'age'])

In [11]:
stu.values()     # returns values and values  is in list format

dict_values(['lucky', 54, 'cse', 12.5])

In [12]:
stu.items()

dict_items([('name', 'lucky'), ('rollno', 54), ('branch', 'cse'), ('age', 12.5)])

In [13]:
stu.popitem()   # popitem() is delete last pair of dictionaries but don't pass aruguments

('age', 12.5)

In [14]:
stu.pop('branch')   # using pop method must pass parameter i.e must in key only

'cse'

In [15]:
marks ={}.fromkeys(['java','c','c++','python'],0)
marks

{'java': 0, 'c': 0, 'c++': 0, 'python': 0}

In [16]:
marks.setdefault('c',45)  # key is existed it will returns key exixted value

0

In [17]:
marks.setdefault('oops',67)  # key is non existed  it will returns newly key value

67

In [18]:
d={}
name=input().split()
name

abdul anil ajay amani anil ajay

['abdul', 'anil', 'ajay', 'amani', 'anil', 'ajay']

In [21]:
d={}
names=input().split()
for name in set(names):
    d[name]=names.count(name)
d

mahi raji mahi

{'raji': 1, 'mahi': 2}

In [25]:
d1={}
names=input().split()
for pos,value in enumerate(names):
    print(pos,value)

mahi raji lucky
0 mahi
1 raji
2 lucky

In [28]:
d2={}
names=input().split()
for pos,value in enumerate(names):
    d2[pos]=value
d2

ad cg bcv

{0: 'ad', 1: 'cg', 2: 'bcv'}

In [30]:
s=input()
sm=0
for ch in s:
    if ch.isdigit():
        sm +=int(ch)
sm

1234lucky

10

In [32]:
s=input().split()
sm=0
for i in s:
    if i.isdigit():
        sm+=int(i)
sm

ad 12 34

46

In [36]:
keys=list()
values=[]
d={}
n=int(input("enter key or  value range:"))
for i in range(n):
    key=input("enter key:")
    keys.append(key)
    value=input("enter value:")
    values.append(value)
for i in range(n):
    d[keys[i]]=values[i]
d

enter key or  value range:2
enter key:name
enter value:lucky
enter key:rollno
enter value:547

{'name': 'lucky', 'rollno': '547'}

In [39]:
stuinfo={'names':['lucky','mahi'],'rollno':[542,547]}
stuinfo['names'][1]

'mahi'

In [45]:
d1={}
names=[]
mb=[]
s=input("enter string:").split()
for i in s:
    if i.isalpha():
        names.append(i)
    else:
        mb.append(i)
d1['names']=names
d1['mb']=mb
#for i in range(len(names)):
#    d1[names[i]]=mb[i]
d1

enter string:lucky 789 mahi 456123

{'names': ['lucky', 'mahi'], 'mb': ['789', '456123']}

In [ ]:
s=input("enter string:").split()